// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.site-header{
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#391e9a+0,412ad8+77,3a20ca+81,8a7ee8+100 */
  background: #391e9a; /* Old browsers */
  background: -moz-linear-gradient(left,  #391e9a 0%, #412ad8 77%, #3a20ca 81%, #8a7ee8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #391e9a 0%,#412ad8 77%,#3a20ca 81%,#8a7ee8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #391e9a 0%,#412ad8 77%,#3a20ca 81%,#8a7ee8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#391e9a', endColorstr='#8a7ee8',GradientType=1 ); /* IE6-9 */

}
.site-header h1{
  color: white;
}